<!DOCTYPE html>
<html>
<head>
<!--
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="js/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/17.2.3/js/dx.all.js"></script>
    <script src="data.js"></script>
    <link rel="stylesheet" type ="text/css" href ="styles.css" />
    <script src="index.js"></script>
    -->
     
     <title>TechMagic</title>
     
     <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <link rel="stylesheet" type ="text/css" href ="https://github.com/goldberg49spear/tripod1/styles.css" />
     
</head>
<body >
    
    
    
      <h2 id="trying"><center>WELCOME</center></h2>
      <nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    			<div class="navbar-header"><a class="navbar-brand" href="https://login.salesforce.com/" target="_blank">Login to salesforce.com</a></div>
    		<ul class="nav navbar-nav">
      			<li class="active"><a href="#">Home</a></li>
      			<li><a href="#">Page 1</a></li>
   			</ul>
  		</div>

     </nav>
     <div class="container">
     	<div class="input-group">
     
         
    		<input class="form-control" type="text" placeholder="Enter Value"/>
                <span class="input-group-btn">
                	<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                 </span>   
            			   
     
    	</div>
    </div>  
	<script src="index.js"></script>
	<script>
	$(function() {
            $("#contactdetails").click(function(event) {
		    event.preventDefault();

		    alert('inside');
		     $.ajax({
			type: 'GET',
                        
			     url: "index.js",
                        
                     
			success: function(response){
        			alert('success');
				alert(response);
    			},
			error: function(err) {
                            errorMessage.text(err.responseJSON.error);
                            error.show();
                        }
			
                        });
	    });
	});
		
		
	</script>	
    <p>Trying to fetch contact details from salesforce.com database</P
    <button type="submit" id="contactdetails" action="/getrecords" method="get"    class="btn btn-success">Fetch Contact details</button>
    <table>
    	<tr><th>First Name</th>
        	<th>Last Name</th>
            <th>Phone</th>
            <th>Mobile number</th>
    	</tr>
        
    
    
    
    </table>
    
       
		
</body>
</html>
